/*
 * Dit is de custom style sheet van jouw website
 *
 */

body {
	

}

.desc {

	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
	width: 200px;
		
}

footer {
	background-color: #9B410E;
}

header {
	background-color: #b3d4fc;
}

.selected {
	background-color: #f0c040;
}

#pagination li.pag_selected a  {
	background-color: #f20feb;
	text-decoration: none;
}